{% block bco %}
{% load static %}
<div class="row">
    <div class="col-2">
    
    <div id="pop" onclick="openZoom()" class="card" style="width: 200px;  border-radius: 20px; border-color: lightblue;">
        <img id="imageresource" src="{% static 'images/provenance.jpg' %}" class="card-img-top">
    </div>
    </div>
    <div class="col-10">
<table class="table table-responsive-md table-striped table-borderless">
    <thead style="top: 0; position: sticky; z-index: 10; background-color:#eeefef;">
    <tr>
        <th scope="col"><button class="btn btn-link" style = "padding-right: 1%;" onclick="description_modal('contributor.name', '{{provenance_domain_meta.properties.contributors.contributor.properties.name.description}}')">contributor.name</button></th>
        <th scope="col"><button class="btn btn-link" style = "padding-right: 1%; padding-left: 1%;" onclick="description_modal('contributor.affiliation', '{{provenance_domain_meta.properties.contributors.contributor.properties.affiliation.description}}')">contributor.affiliation</button></th>
        <th scope="col"><button class="btn btn-link" style = "padding-right: 1%; padding-left: 1%;" onclick="description_modal('contributor.email', '{{provenance_domain_meta.properties.contributors.contributor.properties.email.description}}')">contributor.email</button></th>
        <th scope="col"><button class="btn btn-link" style = "padding-right: 1%; padding-left: 1%;" onclick="description_modal('contributor.contribution', '{{provenance_domain_meta.properties.contributors.contributor.properties.contribution.description}}')">contributor.contribution</button></th>
        <th scope="col"><button class="btn btn-link" style = "padding-right: 1%; padding-left: 1%;" onclick="description_modal('contributor.orcid', '{{provenance_domain_meta.properties.contributors.contributor.properties.orcid.description}}')">contributor.orcid</button></th> 
    </tr>
    </thead>
    <tbody>
    {% for c in contributors %}
    <tr>
        <td contenteditable='true' key = "name" height="40px"  onblur="edit_array_object_value('contributors', this, '{{forloop.counter0}}')">{{ c.name }}</td>          
        <td contenteditable='true' key = "affiliation" height="40px"  onblur="edit_array_object_value('contributors', this, '{{forloop.counter0}}')">{{ c.affiliation }}</td>
        <td contenteditable='true' key = "email" height="40px"  onblur="edit_array_object_value('contributors', this, '{{forloop.counter0}}')">{{ c.email }}</td>          
        <td onclick="update_panel('contributors_contribution', '?step_index={{ forloop.counter0 }}', 'name: contributor.{{c.name}}')">
            <div style="display: flex;">
                <div class="triangle-right" style="flex: 1;"></div>
                <div style="flex: 1;">{{ c.contribution|length }}</div>
            </div>
        </td>
        <td contenteditable='true' key = "orcid" height="40px"  onblur="edit_array_object_value('contributors', this, '{{forloop.counter0}}')">{{ c.orcid }}</td>
    </tr>        
    {% endfor %}
    </tbody>
</table>
<div>
    <button id="add_button" class="btn btn-outline-primary" style="padding-left:5px" uri="contributors" onclick="add_array_object_row(this)">Add Row</button>
</div>
</div>
</div>
{% endblock %}