{% csrf_token %}
{% block bco %}
{% load static %}
<div class="row">
    <div class="col-2">
<div id="pop" onclick="openZoom()" class="card" style="width: 200px;  border-radius: 20px; border-color: lightblue;">
    <img id="imageresource" src="{% static 'images/description.jpg' %}" class="card-img-top">
</div>
</div>
<div class="col-10">
<table class="table table-responsive-md table-striped table-borderless">
    <thead style="top: 0; position: sticky; z-index: 10; background-color:#eeefef;">
        <tr>
            <th scope="col"><button type="button" class="btn btn-link"
                    onclick="description_modal('keywords.items', '{{keywords_meta.items.description}}')">items</button>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for k in keywords %}
        <tr style="text-align: left;">
            <td contenteditable='true' onblur="edit_array_value('keywords', this, '{{forloop.counter0}}')">{{ k }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <button class="btn btn-outline-primary" style="padding-left:5px" uri="keywords" onclick="add_array_object_row(this)">Add Row</button>
</div>
</div>
</div>

{% endblock %}