{% block bco %}
{% load static %}
<div class="row">
    <div class="col-2">
<div id="pop" onclick="openZoom()" class="card" style="width: 200px;  border-radius: 20px; border-color: lightblue;">
    <img id="imageresource" src="{% static 'images/execution.jpg' %}" class="card-img-top">
</div>
</div>
<div class="col-10">
<table class="table table-responsive-md table-striped table-borderless">
    <thead style="top: 0; position: sticky; z-index: 10; background-color:#eeefef;">
    <tr>
        <th scope="col"><button type="button" class="btn btn-link" style="padding-right: 1%;" onclick="description_modal('external_data_endpoints.name', '{{execution_domain_meta.properties.external_data_endpoints.items.properties.name.description}}')">name</button></th>
        <th scope="col"><button type="button" class="btn btn-link" style="padding-right: 1%; padding-left: 1%;;" onclick="description_modal('external_data_endpoints.url', '{{execution_domain_meta.properties.external_data_endpoints.items.properties.url.description}}')">url</button></th>
    </tr>
    </thead>
    <tbody>
    {% for i in external_data_endpoints %}
    <tr>
        <td contenteditable='true' height="40px"  key="name" onblur="edit_array_object_value('external_data_endpoints', this, '{{forloop.counter0}}')" >{{ i.name }}</td> 
        <td contenteditable='true' height="40px"  key="url" onblur="edit_array_object_value('external_data_endpoints', this, '{{forloop.counter0}}')" >{{ i.url }}</td>            
    </tr>        
    {% endfor %}
    </tbody>
</table>
<div>
    <button class="btn btn-outline-primary" style="padding-left:5px" uri="external_data_endpoints" onclick="add_array_object_row(this)">Add Row</button>
</div>
</div>
</div>
{% endblock %}